body, html { margin: 0; height: 100%; overflow: hidden; }
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
}
.fullscreen {
    width: 100vw;
    height: 100vh;
}

#coordinates{
    z-index: 100;
    position: absolute;
}
#note{
    z-index: 100;
    position: absolute;
    top: 100px;
}

.noteDiv{
    background-color: #fff;
    z-index:200;
    width: 270px;
    height: 350px;
    position:fixed;
    top:50%;
    left:50%;
    border-radius:20px;
    border: 2px solid #8EB567;
    transform: translate(-50%, -50%);
    overflow: hidden; /* Add this line */
}

.linesDiv{
    position:absolute;
    z-index:250;
    background-color: #fff;
    background-image:
    linear-gradient(#95B4C5 .1em, transparent .1em);
    background-size: 80% 2em;
    top: 60px; /* Add this line */
    left: 0; /* Add this line */
    width: 100%; /* Add this line */
    height: 70%; /* Add this line */
}